[Unit]
Description=SSH tunnel for Kubernetes
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=ssh -N -L 6443:127.0.0.1:6443 ora-amp-2

[Install]
WantedBy=default.target
