[Unit]
Description=SOCKS5 tunnel over SSH
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=ssh -N -q -A -D 1080 -R 0:localhost:55523 rk3328

[Install]
WantedBy=default.target
