[Unit]
Description=iptables ruleset TTJ
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firewall-ttj.sh

[Install]
WantedBy=multi-user.target
