[Unit]
Description=SSH tunnel for Kubernetes
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=ssh -N -L 6443:10.200.0.250:6443 azu-1

[Install]
WantedBy=default.target
