[Unit]
Description=Run rclone kube-data sync on Mon/Wed/Fri after 3AM

[Timer]
OnCalendar=Mon,Wed,Fri *-*-* 03:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
